/* Используем шрифт из Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

select {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif; /* Применяем шрифт к элементу select */
}

select:hover {
    border-color: #0056b3;
}

select:focus {
    border-color: #0056b3;
    outline: none;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:active {
    background-color: #004085;
    transform: scale(0.95);
}

#discard-task {
    background-color: #dc3545;
}

#discard-task:hover {
    background-color: #c82333;
}

#discard-task:active {
    background-color: #bd2130;
}

#task {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
